{% extends 'site.html' %} {% block content %}
<header>
    <div class="navbar">
        
    </div>
    <div class="navbar sub-navbar">
        <div class="container d-flex justify-content-between">
            
                <img
                    src="{{ url_for('static', filename='icons/splunk-conf25-logo-horz-w-rgb.svg') }}"
                    alt="logo"
                    class="logo"
                />
            
 
        </div>
    </div>
</header>

<main role="main" class="home">
    <section class="jumbotron text-center mb-0 h-jumbotron">
        <div class="container">
            <img
                src="{{ url_for('static', filename='icons/splunk-snkr-logo.png') }}"
                alt="icon"
                class="icon search-icon"
            />
        </div>
    </section>

    <div class="h-grid py-5 bg-light">
        <div class="container">
            <div class="row h-row">
                <img
                    src="{{ url_for('static', filename='icons/Hipster_HotProducts.svg') }}"
                    alt="icon"
                    class="icon search-icon"
                />
            </div>
            <div class="row">
            <!-- INSERT PASS BITS HERE-->
            <button><a href=/view/mark>Go to store</a></button>
        </div>
    </div>

</form>

    </div>
</main>

<footer class="py-5">
    <div class="footer-top">
        <!--<div class="container footer-social">
            <p class="footer-text">
                © 2020 Google Inc (<a href="https://github.com/signalfx/microservices-demo"
                    >Source Code</a
                >) —
            </p>
            <p class="footer-text">
                This website is hosted for demo purposes only. It is not an actual shop. This is not
                a Google product.
            </p>
        </div>-->
        <!--
    <div style="margin: 10px;">
      <h3>Splunk Synthetics Script</h3>
      <pre id="selenium_json"></pre>
    </div>
    --></div>
</footer>
{% endblock %}
